<tr onClick="linkTo('<%= movement_path(movement) %>')" >
  <td><%= movement.subject %></td>
  <td><%= movement.date %></td>
  <td><%= movement.type_movement %></td>
  <td><%= movement.amount %></td>
</tr>